<div class="credentials-page">
  <div class="page-header">
    <h2>Captured Credentials</h2>
    <p class="page-info">
      {{#if @model}}
        Showing {{@model.length}} captured credential(s)
      {{else}}
        No credentials captured yet
      {{/if}}
    </p>
  </div>

  <div class="credentials-list">
    {{#if @model}}
      <table class="credentials-table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Password</th>
            <th>Connection ID</th>
          </tr>
        </thead>
        <tbody>
          {{#each @model as |credential|}}
            <tr>
              <td>{{credential.id}}</td>
              <td>
                <span class="username">{{credential.username}}</span>
              </td>
              <td>
                <span class="password">{{credential.password}}</span>
              </td>
              <td>
                <a href="#" class="connection-link">{{credential.connections_id}}</a>
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    {{else}}
      <div class="no-data-message">
        <p>No credentials have been captured yet.</p>
        <p class="no-data-hint">Credentials will appear here when attackers attempt to authenticate with the honeypot.</p>
      </div>
    {{/if}}
  </div>
</div>
